# Virtual env
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
